body {
  margin: 0;
  padding: 0;
  background-color: rgb(233, 241, 249);
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", Arial, sans-serif;
}
.app {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  border-radius: 10px;
  padding: 10px;
  width: 800px;
  margin-top: 50px;
  height: 100vh;
}

.create-btn {
  border: 1.5px solid rgb(108, 115, 148);
  color: rgb(108, 115, 148);
  text-transform: uppercase;
}
.create-btn:hover {
  background-color: rgb(131, 138, 172);
}
.create-btn:active {
  background-color: rgb(108, 115, 148);
  color: rgb(255, 255, 255);
}

.sign-out-btn {
  border: 1.5px solid rgb(255, 175, 163);
  background-color: rgb(255, 175, 163) !important;
  color: rgb(234, 234, 234);
}
.sign-out-btn:hover {
  background-color: rgb(175, 94, 94) !important;
  border: 1.5px solid rgb(175, 94, 94);
}
.sign-out-btn:active {
  border: 1.5px solid rgb(175, 81, 81) !important;
  background-color: rgb(175, 81, 81) !important;
  color: rgb(255, 255, 255);
}

input {
  margin: 11px 0;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1.5px solid rgb(230, 232, 236);
}

/* List Header */

.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

/* List Item */

.tick {
  padding: 10px;
}

.list-item .tick path {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 32px;
}

/* Model */

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.model {
  width: 500px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}
.model .form-title-container {
  display: flex;
  justify-content: space-between;
}
.model .form-title-container button {
  border: none;
  background-color: transparent;
}
.model .form-title-container button:active {
  color: rgb(255, 50, 50);
}
.model form {
  display: flex;
  flex-direction: column;
}
.model label {
  font-size: 13px;
}

/* Auth  */

.auth-container {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.auth-container__box {
  width: 500px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}
.auth-container__box form {
  display: flex;
  flex-direction: column;
  height: 450px;
  padding: 20px;
}
.auth-options {
  display: flex;
}
.auth-options button {
  width: 50%;
  border: none;
  padding: 10px;
  color: rgb(35, 38, 47);
}
.user-email {
  float: right;
  font-size: 13px;
  margin: 10px;
  color: rgb(114, 114, 114);
}
.appName {
  color: blue;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.total-balance {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.total-expenses,
.total-income {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  padding: 5px;
  border: 1px solid #ccc;
}
.total-expenses {
  color: rgb(234, 58, 58);
}

.total-income {
  color: green;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 5px;
}

.info-container {
  display: flex;
  align-items: center;
}
.info-container p {
  padding-left: 20px;
}

.transaction-title {
  font-weight: bold;
  margin-right: 10px;
}

.transaction-category {
  text-align: center;
}

.transaction-amount {
  font-weight: bold;
  margin-left: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}
.edit-button {
  background-color: #1e88e5;
}
.delete-button {
  background-color: rgb(234, 58, 58);
}

.edit-button:hover {
  background-color: #086dc5;
}
.delete-button:hover {
  background-color: rgb(161, 2, 2);
}
